<div class="panel panel-primary" style="width: 80%; margin: auto;">
    <div class="panel-heading" >
      <h3 class="panel-title">{{employee.name}}</h3>
    </div>
    <div class="panel-body">
      <div class="col-xs-10">
        <div class="row">
          <div class="col-xs-4">
            <img class="imageClass" [src]="employee.photoPath" />
          </div>
          <div class="col-xs-8">
            <!-- row 1 -->
            <div class="row">
              <div class="col-xs-6">
                Genger :
              </div>
              <div class="col-xs-6">
                {{employee.gender}}
              </div>
            </div>
            <!-- row 2 -->
            <div class="row">
              <div class="col-xs-6">
                contactPreference :
              </div>
              <div class="col-xs-6">
                {{employee.contactPreference}}
              </div>
            </div>
            <!-- row 3 -->
            <div class="row">
              <div class="col-xs-6">
                Email :
              </div>
              <div class="col-xs-6">
                {{employee.email}}
              </div>
            </div>
            <!-- row 4 -->
            <div class="row">
              <div class="col-xs-6">
                DateOfBirth :
              </div>
              <div class="col-xs-6">
                {{employee.dateOfBirth | date}}
              </div>
            </div>
            <!-- row 5 -->
            <div class="row">
              <div class="col-xs-6">
                Department :
              </div>
              <div class="col-xs-6" [ngSwitch]="employee.id">
                <span *ngSwitchCase="1">Help Desk</span>
                <span *ngSwitchCase="2">HR</span>
                <span *ngSwitchCase="3">IT</span>
                <span *ngSwitchCase="4">Payroll</span>
                <span *ngSwitchDefault>N/A</span>
              </div>
            </div>
            <!-- row 6 -->
            <div class="row">
              <div class="col-xs-6">
                IsActive :
              </div>
              <div class="col-xs-6">
                {{employee.isActive}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <a class="btn btn-primary" routerLink="/list">Back to List</a>
      <button class="btn btn-primary pull-right" (click)="viewNextEmployee()">
        View Next Employee
      </button>
    </div>
  </div>
