<div class="container" style="margin: 0px; padding: 0px; width: 100%;">
    <nav class="navbar navbar-default" >
        <ul class="nav navbar-nav">
            <li>
                <a routerLink="login">Login</a>
            </li>
            <li>
                <a routerLink="list">List</a>
            </li>
            <li>
                <a routerLink="create">Create</a>
            </li>
            <li>
                <a routerLink="test">test</a>
            </li>
            <li>
                <a routerLink="persondata">persondata</a>
            </li>
            <li>
                <a routerLink="templateTest">templateTest</a>
            </li>
            <li>
                <a routerLink="timer">timer</a>
            </li>
            <li>
                <a routerLink="customer">customer</a>
            </li>
            <li>
                <a routerLink="counter">counter</a>
            </li>
            <li>
                <a routerLink="ngtemplate">ngtemplate</a>
            </li>
        </ul>
    </nav>
    <!-- <div *ngIf="showLoadingIndicator" class="spinner"></div> -->
    <router-outlet></router-outlet>
</div>