<!-- <ng-template #messagetemplate>
  <h1>Title</h1>
  <p>Message</p>
</ng-template>

<ng-content *ngTemplateOutlet="messagetemplate">

</ng-content> -->

<!-- <ng-template #sample let-Name="name" let-hobies="Hobies">
  Hello {{Name}}
  <hr>
  <li *ngFor="let item of hobies">{{item}}</li>
</ng-template>

<div *ngTemplateOutlet="sample; context:{name: 'Neeraj', Hobies:['Dancing', 'programming']}">

</div> -->
<!-- <ng-template #sample>
  I am a static template with no context
</ng-template> -->


