<form [formGroup]="userDetailsForm" (ngSubmit)="onSubmitUserDetails(userDetailsForm.value)">
    <mat-form-field class="full-width">
        <input matInput placeholder="Full Name" formControlName="name" required>
        <mat-error *ngFor="let validation of account_validation_messages.name">
            <mat-error class="error-message"
                *ngIf="userDetailsForm.get('name').hasError(validation.type) && (userDetailsForm.get('name').dirty || userDetailsForm.get('name').touched)">
                {{validation.message}}</mat-error>
        </mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field class="full-width">
        <input matInput placeholder="Email" formControlName="email" required>
        <mat-error *ngFor="let validation of account_validation_messages.email">
            <mat-error class="error-message"
                *ngIf="userDetailsForm.get('email').hasError(validation.type) && (userDetailsForm.get('email').dirty || userDetailsForm.get('email').touched)">
                {{validation.message}}</mat-error>
        </mat-error>
    </mat-form-field>
    <br/>
    <button class="submit-btn" color="primary" mat-raised-button type="submit"
        [disabled]="!userDetailsForm.valid">Submit</button>
</form>